.content-bookshelf {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    flex-direction: column;
    min-height: 500px;
    width: 750px;
    margin: 2rem;
}

.back-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1rem;
}

.back-to-bookstore-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem .5rem 1rem;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #343a40;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    background: #151515;
    color: #ced4da;
    box-shadow: 0px 0px 15px #0081a7;
    transition: 200ms ease-in-out;
}

.bookshelf {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 55px #000;
}

.bookshelf-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    background: #202020;
}

.bookshelf-header-title {
    font-size: 24px;
    font-weight: 700;
    color: #0081a7;
}

.book-shelves {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 2.5rem;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #202020;
    background: #101010;
}

.bookshelf-info {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #101010;
    border: 1px solid #343a40;
    border-radius: 5px;
    color: #00bbf9;
    font-size: 20px;
    font-weight: 500;
}

.shelf-item {
    position: relative;
    background: #101010;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #003566;
}

.shelf-book {
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 300px;
    text-align: center;
    border-radius: 5px;
}

.shelf-book-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 235px;
    width: 100%;
}

.shelf-book-cover-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.shelf-book-title {
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .7);
    border-top: 1px solid #000;
    color: #ced4da;
    font-size: 16px;
    font-weight: 500;
}

.shelf-read-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100%;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #003566;
    font-size: 16px;
    font-weight: 700;
    color: #ced4da;
    cursor: pointer;
    text-decoration: none;
    transition: 200ms ease-in-out;
}

.shelf-read-btn:hover {
    background: #001d3d;
    color: #ffd60a;
    transition: 200ms ease-in-out;
}

.remove-item-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 1;
    padding: .5rem;
    border: 1px solid #343a40;
    border-radius: 50px;
    cursor: pointer;
    background: #F53844;
    color: #ced4da;
    transition: 200ms ease-in-out;
}

.remove-item-btn:hover {
    color: #101010;
    transition: 200ms ease-in-out;
}

.clear-shelf-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #003566;
    color: #ced4da;
    transition: 200ms ease-in-out;
}

.clear-shelf-btn:hover {
    background: #e63946;
    transition: 200ms ease-in-out;
}

.btn-icon {
    margin-right: .5rem;
}

@media(max-width:768px) {
    .book-shelves {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        padding: 1.5rem;
    }
}

@media(max-width:480px) {
    .bookshelf-header {
        flex-direction: column;
    }

    .bookshelf-header-title {
        margin-bottom: .5rem;
        font-size: 20px;
    }

    .book-shelves {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 2.5rem;
    }
}