.intro-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-image: linear-gradient(135deg, #F53844 10%, #42378F 100%);
}

.genre-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.books-genres {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid #343a40;
    background: #101010;
    box-shadow: 0px 0px 35px #000;
}

.genre-block-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    height: 135px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #adb5bd;
    border: 1px solid #000;
    border-radius: 5px;
    background-image: linear-gradient(135deg, #1e3c72 10%, #2a5298 100%);
    transition: transform 0.2s ease-in-out;
}

.genre-block-link:hover {
    transform: scale(1.1);
}

#fictionBlock {
    grid-column: 1/3;
}

#bibliographynBlock {
    grid-column: 5/7;
}

#psyBlock {
    grid-column: 1/5;
}

#horrorBlock {
    grid-column: 2/6;
}

#storyBlock {
    grid-column: 1/5;
}

#legendBlock {
    grid-column: 5/7;
}

#proseBlock {
    grid-column: 2/7;
}



/*  */
.genres-header-title {
    font-size: 18px;
    font-weight: 500;
    color: #adb5bd;
}

.genre-tab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: .5rem;
    border: 1px solid #343a40;
    background: #151515;
}

.genre-btn {
    background: #202020;
    border: 1px solid #343a40;
    height: 45px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #adb5bd;
}

/*  */