.home-content {
    display: grid;
    grid-template-columns: 1fr;
}

.intro-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    background: #000;
}

.banner-message {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 65px;
}

.intro-banner-title {
    font-size: 55px;
    font-weight: 700;
    color: #ced4da;
}

.arcboox-word {
    color: #52796f;
}

.intro-banner-subtitle {
    font-size: 16px;
    font-weight: 500;
    color: #ced4da;
}

.intro-image {
    height: 100%;
    width: 100%;
}

.intro-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app-instructions-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 100%;
    background: #09203f;
    padding: 1rem;
}

.download-share-block {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
}

.info-section-illustration-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 200px;
    width: 700px;
}

.illustration-image {
    margin-right: 1.5rem;
}

.info-section-text {
    text-align: justify;
    font-size: 16px;
    letter-spacing: .3mm;
    color: #ced4da;
}

.illustration-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.app-information-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    border-bottom: 2px solid #000;
    box-shadow: 0 2px 10px 0 rgb(0, 0, 0, .4);
}

.info-section-illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    max-width: 600px;
    display: flex;
    align-items: center;
}

.illustration-api-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustration-api-img {
    height: 75px;
    width: 175px;
    object-fit: cover;
    margin: 1.5rem;
}

.genre-info-manual {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #434343 10%, #000000 100%);
    width: 100%;
    height: 100px;
    font-size: 22px;
    font-weight: 500;
    color: #ced4da;
}

.genre-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3.5rem;
}

.books-genres {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px;
    padding: .5rem;
    width: 950px;
    border-radius: 5px;
    border: 1px solid #343a40;
    background: #101010;
    box-shadow: 0px 0px 35px #000;
}

.genre-block-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    height: 135px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #101010;
    border: 1px solid #343a40;
    border-radius: 5px;
    background: #db7c26;
    transition: transform 0.2s ease-in-out;
}

.genre-block-link:hover {
    transform: scale(1.1);
}

#compBlock {
    grid-column: 1/5;
}

#fictionBlock {
    grid-column: 5/7;
}

#gamesBlock {
    grid-column: 7/9;
}

#psyBlock {
    grid-column: 2/6;
}

#musicBlock {
    grid-column: 6/9;
}

#essayBlock {
    grid-column: 1/3;
}

#fantasyBlock {
    grid-column: 3/5;
}

#medicalBlock {
    grid-column: 5/9;
}

#dramaBlock {
    grid-column: 1/4;
}

#businessBlock {
    grid-column: 4/9;
}

#astronomyBlock {
    grid-column: 1/7;
}

#legendBlock {
    grid-column: 7/9;
}

#transportationBlock {
    grid-column: 1/5;
}

#educationBlock {
    grid-column: 5/9;
}



/*  */
.genres-header-title {
    font-size: 18px;
    font-weight: 500;
    color: #adb5bd;
}

.genre-tab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: .5rem;
    border: 1px solid #343a40;
    background: #151515;
}

.genre-btn {
    background: #202020;
    border: 1px solid #343a40;
    height: 45px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #adb5bd;
}