.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    flex-direction: column;
    padding: 2rem;
    min-width: 450px;
    border: 2px solid #101010;
    border-radius: 5px;
    background-image: linear-gradient(135deg, #09203f 10%, #537895 100%);
}

.login-form-title {
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    color: #ced4da;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 300px;
}

.login-email-field {
    height: 35px;
    width: 100%;
    padding: 0 .5rem 0 .5rem;
    margin-bottom: .5rem;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #3a86ff;
    background: #202020;
    color: #ced4da;
}

.login-password-field {
    height: 35px;
    width: 100%;
    padding: 0 .5rem 0 .5rem;
    margin-bottom: .5rem;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #3a86ff;
    background: #202020;
    color: #ced4da;
}

.login-submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    background: #09203f;
    border-radius: 5px;
    border: none;
    color: #ced4da;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.login-submit-btn:hover {
    background: #00509d;
    transition: 200ms ease-in-out;
}