.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    width: 600px;
    min-width: 600px;
    border: 1px solid #343a40;
    border-radius: 5px;
    background: #202020;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}