.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 1.5rem;
    height: 65px;
    box-shadow: 0 2px 10px 0 rgb(0, 0, 0, .4);
    background: #003554;
    z-index: 1000;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.header-brand-name {
    margin-right: 1rem;
}

.brand-name-link {
    text-decoration: none;
    font-size: 34px;
    font-weight: 700;
    color: #ced4da;
    transition: 200ms ease-in-out;
}

.brand-name-link:hover {
    color: #adb5bd;
    transition: 200ms ease-in-out;
}

.header-left-links {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin: .5px;
    color: #ced4da;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: .3rem .5rem .3rem .5rem;
    transition: 200ms ease-in-out;
}

.nav-link:hover {
    background: #212529;
    color: #ced4da;
    transition: 200ms ease-in-out;
}

.nav-link.active {
    background: #212529;
    color: #ced4da;
}

.navbar-link-icon {
    margin-right: .5rem;
}

.cart-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: .3rem;
    bottom: -10px;
    left: -15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #e63946;
}

.cart-indicator-counter {
    color: #ced4da;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms ease-in-out;
}

.search-field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    min-width: 25px;
    width: 275px;
    font-size: 14px;
    padding: 0 1rem 0 1rem;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top: 1px solid #101010;
    border-left: 1px solid #101010;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #101010;
    background: #202020;
    color: #adb5bd;
    transition: 200ms ease-in-out;
}

.search-field:focus {
    outline: none;
    border-color: #0081a7;
    transition: 200ms ease-in-out;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top: 1px solid #101010;
    border-right: 2px solid #101010;
    border-left: none;
    border-bottom: 1px solid #101010;
    background: #202020;
    color: #adb5bd;
    cursor: pointer;
}

.search-box:hover>.search-btn {
    color: #0081a7;
    transition: 200ms ease-in-out;
}

.nav-dropdown {
    position: relative;
}

.dropdown-box {
    position: absolute;
    top: 15px;
    right: 5px;
    /* height: 100px; */
    width: 150px;
    padding: .5rem;
    border: 1px solid #343a40;
    border-radius: 5px;
    background: #202020;
}

.dropdown-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.drop-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: .5rem;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #ced4da;
}

.drop-item:hover {
    background: #343a40;

}

@media (max-width: 768px) {
    .brand-name-link {
        font-size: 24px;
    }

    .search-field {
        width: 100px;
    }
}